* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	width: 350px;
	height: 90px;
	text-align: center;
}

.container {
	padding-top: 15px;
}

.download-btn {
	background-color: #4BB543;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
	padding: 5px 15px;
	cursor: pointer;
	margin-left: 10px;
	text-decoration: none;
	border-radius: 4px;
}

#btn {
	font-size: .9rem;
	background-color: blue;
	color: #fff;
	font-weight: bold;
	padding: 5px 15px;
	height: 25px;
	cursor: pointer;
	border-radius: 4px;
}

#input {
	height: 25px;
}